body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}

#chat-room {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 90%;
  max-width: 480px;
  margin: auto;
  background-image: url("./assets/background.png");
  background-size: contain;
  border: 0.25rem solid rgba(17, 0, 252, 0.5);
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #dcdcdc;
  overflow: hidden;
}

#username-container {
  display: flex;
  gap: 1.25rem;
  background-color: rgba(17, 0, 252, 0.5);
  padding: 1.125rem 1.5rem;
  font-size: 1.5rem;

  span,
  p {
    color: #f2f2f2;
  }

  #room {
    margin-left: auto;
  }
}

#message-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  overflow-y: scroll;
  padding: 1rem 0.5rem;
}

.message-left,
.message-right {
  max-width: 80%;
  padding: 0.5rem 1rem;
  word-wrap: break-word;

  p > span {
    display: block;
    font-style: italic;
    font-size: 0.75rem;
    text-align: right;
    padding-top: 0.25rem;
  }
}

.message-left {
  align-self: flex-start;
  border-radius: 1rem 1rem 1rem 0;
  background-color: whitesmoke;
  box-shadow: -0.125rem 0.125rem 0.25rem #dcdcdc;
}

.message-right {
  align-self: end;
  border-radius: 1rem 1rem 0 1rem;
  background-color: lawngreen;
  box-shadow: 0.125rem 0.125rem 0.25rem #dcdcdc;
}

#form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  background-color: rgba(17, 0, 252, 0.5);
}

.input-container {
  display: flex;
  gap: 0.5rem;
}

#message-input {
  flex-grow: 1;
  min-width: 12rem;
  height: 2rem;
  padding: 0 0.75rem;
}

#send-button {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: 2rem;
  padding: 0 1rem;
  cursor: pointer;
}

#active-users {
  padding: 0 0 1rem;
  text-align: center;
  font-style: italic;
}
